.listbody{
   margin: 15%;
  margin-top: 7%;
display: flex;
justify-content: flex-start;
flex-direction: column;
gap: 4rem;
}


.cards{
    &:hover{
       box-shadow: 0px 0px 0px 4px rgb(1, 149, 255);
       cursor: pointer;
    }
}


.container{
    display: flex;
    justify-content:space-between ;
    gap: 2rem;
    height: 250px;
}

.image{
 width: 400px;
}

.infobox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 270px;
    left: 43%;
    width: 66%;

}

.about{
    font-size: 30px;
    font-weight: 500;
    font-family:"DM Sans",sans-serif;
    word-wrap: break-word;
width: 66%;
    
}

.statusbar{
    display: flex;  
    justify-content: flex-start;
    gap: 1rem;
    width: 66%;

}

.status{
    background: #ECEAE3;
}

.status1{
    font-family: "DM Sans",sans-serif;
   padding-left:2rem;
   padding-right: 2rem; 
   color: #5A5E62;
}
.status2{
    color: #5A5E62;
    font-family: "DM Sans",sans-serif;
}

.day{
    color: grey;
    font-family: "DM Sans",sans-serif;
    line-height: 0;
}


@media screen and (max-width: 1000px){
    .listbody{
        margin: 10%;
       margin-top: 5%;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     gap: 4rem;
    }

     .container{
         display: flex;
         justify-content:space-between ;
         gap: 2rem;
         height: 250px;
     }
     
     .image{
      width: 300px;
     }
     
     .infobox{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .about{
         font-size: 30px;
         font-weight: 700;
     }
}



@media screen and (max-width: 700px) {
    .listbody{
        margin: 8%;
       margin-top: 5%;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     gap: 2rem;
     }
     .container{
         display: flex;
         justify-content:space-between ;
         gap: 1.5rem;
         height: 100px;
     }
     
     .image{
      width: 200px;
      height: 100%;
     }
     
     .infobox{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .about{
         font-size: 13px;
         font-weight: 700;
     }
     
     
     .status1{
        padding-left:1rem;
        padding-right: 1rem; 
        font-size: 7px;
     }
     .status2{  
         font-size:7px;
     }
     
     .day{
         font-size: 7px;
     }
}

@media screen and (max-width: 450px) {
    .listbody{
        margin: 2%;
       margin-top: 5%;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     gap: 2rem;
     }
     .container{
         display: flex;
         justify-content:space-between ;
         gap: 1rem;
         height: 100px;
     }
     
     .image{
      width: 100px;
      height: 100%;
     }
     
     .infobox{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .about{
         font-size: 10px;
         font-weight: 700;
     }
     
     
     .status1{
        padding-left:0.5;
        padding-right: 0.5; 
        font-size: 7px;
     }
     .status2{  
         font-size: 7px;
     }
     
     .day{
         font-size: 7px;
     }
}