/* default css */

.container {
    display: flex;
    flex-direction: row;
  }
  
  .left-column,
  .right-column {
    padding: 20px;
  }
  .have-question{
    font-size: 40px;
  }

  .Send-mail{
margin-top: 50px;
color:#828385;

  }
  .left-column {
    flex: 1.5;
    margin-left: 30px;
  }
  
  .right-column {
    flex: 1;
   margin-right: 40px;
  }
  
  input{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    
  }
  textarea {
    width: 80%;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 15px;
  }
  .Sent-message{
    align-items: center;
  }
  .Send-message {
    width: 160px;
    padding: 10px;
    background-color: #226AC7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .join-Uss{
    display: flex;
    margin-top: 100px;
 }

.News-letter1{
    margin-left: 260px;
     background-color: #F4F2E9;
     height: 50px;
    width: 180px;
    border: none;
    
}
.on-insta{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
}
.Follo-facebook{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
}
.Follo-twiter{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
    margin-bottom: 45px;
}


/* For large size destop or laptop */

@media screen and (max-width: 1150px) {

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left-column,
  .right-column {
    padding: 20px;
  }
  .have-question{
    font-size: 40px;
  }

  .Send-mail{
margin-top: 50px;
color:#828385;

  }
  .left-column {
    flex: 1;
    margin-left: 30px;
  }
  
  .right-column {
    flex: 1;
   margin-right: 40px;
  }
  
  input{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    
  }
  textarea {
    width: 60%;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 15px;
  }
  .Sent-message{
    align-items: center;
  }
  .Send-message {
    width: 160px;
    padding: 10px;
    background-color: #226AC7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .join-Uss{
    display: flex;
    margin-top: 100px;
 }

.News-letter1{
    margin-left: 175px;
     background-color: #F4F2E9;
     height: 50px;
    width: 180px;
    border: none;
    
}
.on-insta{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
}
.Follo-facebook{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
}
.Follo-twiter{
    margin-left: 50px;
    background-color: #F4F2E9;
    height: 50px;
    width: 180px;
    border: none;
    margin-bottom: 45px;
}
}


/* For large size Tab or large screens */

@media screen and (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left-column,
  .right-column {
    padding: 10px;
  }
  .have-question{
    font-size: 25px;
  }

  .Send-mail{
margin-top: 50px;
color:#828385;

  }
  .left-column {
    flex: 1;
    margin-left: 30px;
  }
  
  .right-column {
    flex: 1;
   margin-right: 40px;
  }
  
  input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    
  }
  textarea {
    width: 70%;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 15px;
  }
  .Sent-message{
    align-items: center;
  }
  .Send-message {
    width: 160px;
    padding: 8px;
    background-color: #226AC7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .join-Uss{
    display: flex;
    margin-top: 80px;
 }

.News-letter1{
    margin-left: 15px;
     background-color: #F4F2E9;
     height: 40px;
    width: 170px;
    border: none;
    
}
.on-insta{
    margin-left: 15px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
}
.Follo-facebook{
    margin-left: 15px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
}
.Follo-twiter{
    margin-left: 15px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
    margin-bottom: 45px;
}
}




/* For large size Tab or large screens */

@media screen and (max-width: 600px) {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .left-column,
  .right-column {
    padding: 0px;
  }
  .have-question{
    font-size: 18px;
  }

  .Send-mail{
margin-top: 10px;
color:#828385;
font-size: 15px;

  }
  .left-column {
    flex: 1;
    margin-left: 0px;
  }
  
  .right-column {
    flex: 1;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 align-items: center;
 margin-top: 25px;

  }
  
  input{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  textarea {
    width:50%;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 15px;
  }
  .Sent-message{
    align-items: center;

  }
  .Send-message {
    width: 120px;
    padding: 7px;
    background-color: #226AC7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .join-Uss{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
 }

.News-letter1{
    margin-left: 0px;
     background-color: #F4F2E9;
     height: 40px;
     width:  7rem;
    border: none;
    font-size: 8px;
}
.on-insta{
    margin-left: 0px;
    background-color: #F4F2E9;
    height: 40px;
    width:  7rem;
    border: none;
    font-size: 8px;
}
.Follo-facebook{
    margin-left: 0px;
    background-color: #F4F2E9;
    height: 40px;
    width:  7rem;
    border: none;
    font-size: 8px;
}
.Follo-twiter{
    margin-left: 0px;
    background-color: #F4F2E9;
    height: 40px;
    width: 7rem;
    border: none;
    margin-bottom: 45px;
    font-size: 8px;
}
}


/* small devices(phone,400px and down) */


@media screen and (max-width: 400px) {

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left-column,
  .right-column {
    padding: 2px;
  }
  .have-question{
    font-size: 14px;
  }
.Hello-primalcare{
  font-size: 8px;
}
  .Send-mail{
margin-top: 50px;
color:#828385;
font-size: 8px;

  }
  .left-column {
    flex: 1;
    margin-left: 1px;
  }
  
  .right-column {
    flex: 1;
   margin-right: 20px;
  }
  
  input{
    width: 60%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 8px;
  }
  textarea {
    width: 60%;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 8px;
  }
  .Sent-message{
    align-items: center;
  }
  .Send-message {
    width: 100px;
    padding: 8px;
    background-color: #226AC7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 7px;
  }
  
 .join-Uss{
    display: flex;
    margin-top: 80px;
 }

.News-letter1{
    margin-left: 5px;
     background-color: #F4F2E9;
     height: 40px;
    width: 170px;
    border: none;
    
}
.on-insta{
    margin-left: 5px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
}
.Follo-facebook{
    margin-left: 5px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
}
.Follo-twiter{
    margin-left: 5px;
    background-color: #F4F2E9;
    height: 40px;
    width: 170px;
    border: none;
    margin-bottom: 45px;
}
}