.subscribe {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.subscribe input {
  font-family: "DM Sans", sans-serif;
  /* position: relative; */
  padding: 13px;
  margin: 1px 0px 10px 0px;
  border-radius: 7px 7px 7px 7px;
  border-color: rgb(32, 32, 255);
}
.subscribe h1 {
  padding: 15px;
  font-family: "Proza Libre", sans-serif;
}
.subscribe p {
  font-family: "DM Sans", sans-serif;
  padding: 15px;
  font-size: 18px;
}
.subscribe svg {
  width: 46px;
  height: 51px;
  position: relative;
  right: 50px;
  top: -1px;
  left: -46px;
  background-color: rgb(32, 32, 255);
  padding: 13px 15px 12px 15px;
  border-radius: 0px 7px 7px 0px;
}


@media screen and (max-width:450px){
  .subscribe {
    text-align: center;
    padding: 2rem;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subscribe svg {
    position: relative;
    right: 0px;
top: -62px;
    left: 300px;
  }
  
  
}

@media screen and (max-width:400px){
  .subscribe svg {
    position: relative;
    right: 0px;
top: -62px;
    left: 250px;
  }
  
  
}

@media screen and (max-width:340px){
  .subscribe svg {
    position: relative;
    right: 0px;
top: -62px;
    left: 200px;
  }
  
}