.subscribe {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.subscribe input {
  font-family: "DM Sans", sans-serif;
  position: relative;
  padding: 13px;
  margin: 1px 0px 10px 0px;
  /* position: relative;
   left: 150px; */
  border-radius: 7px 7px 7px 7px;
  border-color: rgb(32, 32, 255);
}
.subscribe h1 {
  padding: 15px;
  font-family: "Proza Libre", sans-serif;
  /* position: relative;
    left: 130px;  */
}
.subscribe p {
  font-family: "DM Sans", sans-serif;
  padding: 15px;
  font-size: 18px;
  /* position: relative;
    left: 130px; */
  /* margin-left: 229px; */
}
.subscribe svg {
  width: 46px;
  height: 51px;
  position: relative;
  right: 50px;
  top: -1px;
  left: -46px;
  background-color: rgb(32, 32, 255);
  padding: 13px 15px 12px 15px;
  border-radius: 0px 7px 7px 0px;
}

/* 
@media screen and (max-width: 768px){
    .subscribe svg{
       position: relative;
      
    }
} */
