body {
  margin: 0;
  padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    
  }
  
  .footer-left, .footer-right {
    flex: 1;
    text-align: center;
  }
  
  .footer-center {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    max-width: 100px;
    color: aqua;
  }
  
  .social-icon {
    width: 25px;
    margin: 0 20px;
  }
  .Facebook-icon{
    height: 26px;
    width: 15px;
    margin: 0 20px;
  }
 .twitter{
    margin-top: 4px;
    width: 25px;
    margin-left: 20px;
    
 }
 .footer-right {
  display: flex;
  align-items: center; 
}

.side-image-text {
  display: flex;
  align-items: center; 
}

.side-image {
  margin-right: 10px; 
}


@media screen and (max-width: 850px) {

  body {
    margin: 0;
    padding: 0;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      padding: 15px;
      
    }
    
    .footer-left, .footer-right {
      flex: 1;
      text-align: center;
    }
    
    .footer-center {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    
    .logo {
      max-width: 80px;
    }
    
    .social-icon {
      width: 20px;
      margin: 0 20px;
    }
    .Facebook-icon{
      height: 18px;
      width: 10px;
      margin: 0 20px;
    }
   .twitter{
      margin-top: 4px;
      width: 20px;
      margin-left: 20px;
      
   }
   .footer-right {
    display: flex;
    align-items: center; 
  }
  
  .side-image-text {
    display: flex;
    align-items: center; 
    margin-right: 2px;
  }
  
  .side-image {
    margin-right: -1px; 
  }
}



@media screen and (max-width: 600px) {

  body {
    margin: 0;
    padding: 0;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      padding: 12px;
      
    }
    
    .footer-left, .footer-right {
      flex: 1;
      text-align: center;
    }
    
    .footer-center {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    
    .logo {
      max-width: 80px;
    }
    
    .social-icon {
      width: 20px;
      margin: 0 10px;
    }
    .Facebook-icon{
      height: 18px;
      width: 10px;
      margin: 0 10px;
    }
   .twitter{
      margin-top: 4px;
      width: 20px;
      margin-left: 10px;
      
   }
   .footer-right {
    display: flex;
    align-items: center; 
  }
  
  .side-image-text {
    display: flex;
    align-items: center; 
    font-size:small;
    /* margin-right: 2px; */
  }
  
  /* .side-image {
    margin-right: 10px; 
  } */
}




@media screen and (max-width: 400px) {

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      padding: 5px;
       
    }
    
    .footer-left, .footer-right {
      flex: 1;
      text-align: center;
    }
    
    .footer-center {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    
    .logo {
      max-width: 60px;
    }
    
    .social-icon {
      width: 15px;
      margin: 0 5px;
    }
    .Facebook-icon{
      height: 12px;
      width: 10px;
      margin: 0 5px;
    }
   .twitter{
      margin-top: 1px;
      width: 15px;
      margin-left: 5px;
      
   }
   .footer-right {
    display: flex;
    align-items: center; 
  }
  
  .side-image-text {
    display: flex;
    align-items: center; 
    font-size:9px;
    
  }
  
  /* .side-image {
    /* margin-left: 20px;  */
  /* } */
}