
.contentcheck{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}
.pine{
  background-color:#FFF0A1;

}
.pine img{
  width: 400px;
  height: 400px;
}
.content-base{
  display: flex;
  justify-content: space-between;
  gap:180px;
  position: relative ;
  bottom:35px;
}
.content-we{
  position: relative;
  top:75px;
  right: 180px;
}

@media screen and (max-width:450px) {
  .content-base {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    font-size:10px;
    margin-left:80%;
    bottom: 0;

    h1{
      font-size: 25px;
    }
  }
  .pine img{
    width: 300px;
    height: 300px;
  }
  .pine{
    position: relative;
  left: 200px;
  bottom: 0px;
  top: 40px;
  }
  
  .content-we {
    position: relative;
    top: 100px;
    left: 5px;
  
  }
}

