*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items:flex-start;
    margin-top: -28px;

  }
  .toggle-icon img{
    width:50px ;
    height: 40px;
    position: relative;
    left: 200px;
    top: 59px;
    
    /* margin-top: -56px; */
  }
  

  .menuOptions {
    position: absolute;
    top: 67px;
    left: 50%;
    /* width: 200px;
    height: 100vh; */
    opacity: 0.7;
    /* background-color: #333; */
    font-size: 20px;
    color: #0066cc;
    transition: right 0.3s ease;
  }
  .logo{
    /* margin-left: 550px; */
    position: relative;
    left:85px;
    bottom: 79px;
    /* height: 20px; */
  }
  .nav button {
    margin-left: 250px;
    margin-top: 20px;
    /* position: relative;
    left:15px; */
    bottom: 120px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .home {
    padding-left: 20px;
    text-align: center;
  }

  .home h1 {
    font-size: 40px;
  }

  .btn-start {
    padding: 10px 50px;
    margin: 20px 0;
  }
  .home-pic{
    position: relative;
    left: 190px;
  }

  .home-pic img {
    margin-left: 0;
    
  
    
  }
  .hello{
    position: relative;
    left: 170px;
    /* height: 20px; */
  }

  .hello p {
    width: 80%;
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }

  .box {
   display: flex;
   flex-direction: column;
   width: 100%;
  }
  .fruit{
    width: 100%;
  }
  .fruit img{
    width:50%;
    height: 50%;
    align-items: center;
    padding: 10px;
  }


  .description h1 {
    padding: 50px;
  }
  .Main-Box{
    position: relative;
    left:50px;
  }

  .Box-Container {
    position: relative;
    right: 180px;
  } 
.Logo-container{
  position: relative;
left:100px;
}
  .Logo-container img {
    margin-right: 0;
  }
  .content{
    position: relative;
    left: 100px;
    
  }

  .content-base {
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    gap: 5px;
    font-size:10px;
    margin-left: 80px;
    bottom: 0;
  }
  .pine{
    
    position: relative;
 left: 50px;
 bottom: 15px;
  }

  .content-we {
    position: static;
    top:0;

  }

  .video h1 {
    padding-top: 150px;
  }

 
  .subscribe input {
    position: relative;
    left: 150px;
    /* margin: 10px 0; */
  }
  .subscribe h1{
    position: relative;
    left: 130px;
  }
  .subscribe p{
    position: relative;
    left: 130px;
  }

  .subscribe svg {
    position: relative;
    left: 100px;

  }

  .bottom {
    display: flex;
    /* flex-direction: column; */

    align-items: center;
    width: 80%;
    position: relative;
    left: 185px;
    padding: 10px;
  }
/* 
.bottom img{
  width: 400px;
  height: 200px;
}
  */

  /* .middle h1 {
    font-size: 30px;
  }

  .middle button {
    margin: 10px 0;
  } */
}




